<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script src="scripts.js"></script>
		<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
		<script src="C:/Users/white/AppData/Roaming/npm/node_modules/vue/dist/vue.global.js"></script>
		<title>iTAT API</title>
	</head>
	<body>
		<h1>iTAT - Integrated Telegraf Agent for TouchDesigner</h1>
		<section id="app">
			<h1>Metrics</h1>
			<div class="metrics">
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; CPU</button>
				<div class="content">
					<div class="metrics-overview">
						<p><a href="https://github.com/influxdata/telegraf/blob/master/plugins/inputs/cpu/README.md">Telegraf CPU plugin reference</a></p>
					</div>	
					<div class="metrics-endpoints" v-for="endpoint in api.cpu">
						<div class="endpoint">
							<button type="button" class="http-method http-get">GET</button>
							<p v-text="endpoint" class="endpoint"> </p>
						</div>
					</div>
				</div>
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; System</button>
				<div class="content">
					<div class="metrics-overview">
						<p><a href="https://github.com/influxdata/telegraf/blob/master/plugins/inputs/system/README.md">Telegraf System plugin reference</a></p>
					</div>	
					<div class="metrics-endpoints" v-for="endpoint in api.system">
						<div class="endpoint">
							<button type="button" class="http-method http-get">GET</button>
							<p v-text="endpoint" class="endpoint"> </p>
						</div>
					</div>
				</div>
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; Temperature</button>
				<div class="content">	
					<div class="metrics-endpoints" v-for="endpoint in api.temperature">
						<div class="endpoint">
							<button type="button" class="http-method http-get"> GET</button>
							<p v-text="endpoint" class="endpoint"> </p>
						</div>
					</div>
				</div>
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; NVIDIA</button>
				<div class="content">	
					<div class="metrics-endpoints" v-for="endpoint in api.nvidia">
						<div class="endpoint">
							<button type="button" class="http-method http-get">GET</button>
							<p v-text="endpoint" class="endpoint"></p>
						</div>
					</div>
				</div>
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; Disk</button>
				<div class="content">	
					<div class="metrics-endpoints" v-for="endpoint in api.disk">
						<div class="endpoint">
							<button type="button" class="http-method http-get">GET</button>
							<p v-text="endpoint" class="endpoint"> </p>
						</div>
					</div>
				</div>
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; Network Status</button>
				<div class="content">	
					<div class="metrics-endpoints" v-for="endpoint in api.netstat">
						<div class="endpoint">
							<button type="button" class="http-method http-get">GET</button>
							<p v-text="endpoint" class="endpoint"> </p>
						</div>
					</div>
				</div>
				<button type="button" class="collapsible" onclick="collapse(this)">&plus; Network</button>
				<div class="content">	
					<div class="metrics-endpoints" v-for="endpoint in api.net">
						<div class="endpoint">
							<button type="button" class="http-method http-get">GET</button>
							<p v-text="endpoint" class="endpoint"> </p>
						</div>
					</div>
				</div>
			</div>
		</section>

	
	<script>
		const iTAT = {
			data(){
				return {
					api:{
						"cpu":[
							"/api/cpu/last_update",
							"/api/cpu/cpu{n}/metrics/time_guest/data",
							"/api/cpu/cpu{n}/metrics/time_guest_nice/data",
							"/api/cpu/cpu{n}/metrics/time_idle/data",
							"/api/cpu/cpu{n}/metrics/time_iowait/data",
							"/api/cpu/cpu{n}/metrics/time_irq/data",
							"/api/cpu/cpu{n}/metrics/time_softirq/data",
							"/api/cpu/cpu{n}/metrics/time_system/data",
							"/api/cpu/cpu{n}/metrics/time_user/data",
							"/api/cpu/cpu{n}/metrics/usage_guest_nice/data",
							"/api/cpu/cpu{n}/metrics/usage_iowait/data",
							"/api/cpu/cpu{n}/metrics/usage_irq/data",
							"/api/cpu/cpu{n}/metrics/usage_nice/data",
							"/api/cpu/cpu{n}/metrics/usage_softirq/data",
							"/api/cpu/cpu{n}/metrics/usage_steal/data",
							"/api/cpu/cpu{n}/metrics/usage_system/data",
							"/api/cpu/cpu{n}/metrics/usage_user/data"
						],
						"system":[
							"/api/system/last_update",
							"/api/system/metrics/load1/data",
							"/api/system/metrics/load15/data",
							"/api/system/metrics/load5/data",
							"/api/system/metrics/n_cpus/data",
							"/api/system/metrics/uptime/data",
							"/api/system/metrics/uptime_format/data"
						],
						"temperature":[
							"/api/temp/last_update",
							"/api/temp/metrics/temp/data",
						],
						"nvidia":[
							"/api/nvidia_smi/last_update",
							"/api/nvidia_smi/metrics/clocks_current_graphics/data",
							"/api/nvidia_smi/metrics/clocks_current_memory/data",
							"/api/nvidia_smi/metrics/clocks_current_sm/data",
							"/api/nvidia_smi/metrics/clocks_current_video/data",
							"/api/nvidia_smi/metrics/cuda_version/data",
							"/api/nvidia_smi/metrics/encoder_stats_average_fps/data",
							"/api/nvidia_smi/metrics/encoder_stats_average_latency/data",
							"/api/nvidia_smi/metrics/encoder_stats_session_count/data",
							"/api/nvidia_smi/metrics/fan_speed/data",
							"/api/nvidia_smi/metrics/fbc_stats_average_fps/data",
							"/api/nvidia_smi/metrics/fbc_stats_session_count/data",
							"/api/nvidia_smi/metrics/memory_free/data",
							"/api/nvidia_smi/metrics/memory_total/data",
							"/api/nvidia_smi/metrics/memory_used/data",
							"/api/nvidia_smi/metrics/pcie_link_gen_current/data",
							"/api/nvidia_smi/metrics/pcie_link_width_current/data",
							"/api/nvidia_smi/metrics/power_draw/data",
							"/api/nvidia_smi/metrics/temperature_gpu/data",
							"/api/nvidia_smi/metrics/utilization_decoder/data",
							"/api/nvidia_smi/metrics/utilization_encoder/data",
							"/api/nvidia_smi/metrics/utilization_gpu/data",
							"/api/nvidia_smi/metrics/utilization_memory/data"
						],
						"disk":[
							"/api/disk/last_update/data",
							"/api/disk/metrics/free/data",
							"/api/disk/metrics/inodes_free/data",
							"/api/disk/metrics/inodes_total/data",
							"/api/disk/metrics/inodes_used/data",
							"/api/disk/metrics/total/data",
							"/api/disk/metrics/used/data",
							"/api/disk/metrics/used_percent/data"
						],
						"memory":[
							"/api/mem/last_update/data",
							"/api/mem/metrics/available/data",
							"/api/mem/metrics/available_percent/data",
							"/api/mem/metrics/total/data",
							"/api/mem/metrics/used/data",
							"/api/mem/metrics/used_percent/data",

						],
						"netstat":[
							"/api/netstat/last_update",
							"/api/netstat/metrics/tcp_close/data",
							"/api/netstat/metrics/tcp_close_wait/data",
							"/api/netstat/metrics/tcp_closing/data",
							"/api/netstat/metrics/tcp_established/data",
							"/api/netstat/metrics/tcp_fin_wait1/data",
							"/api/netstat/metrics/tcp_fin_wait2/data",
							"/api/netstat/metrics/tcp_last_ack/data",
							"/api/netstat/metrics/tcp_listen/data",
							"/api/netstat/metrics/tcp_none/data",
							"/api/netstat/metrics/tcp_syn_recv/data",
							"/api/netstat/metrics/tcp_syn_sent/data",
							"/api/netstat/metrics/tcp_time_wait/data",
							"/api/netstat/metrics/udp_socket/data"
						],
						"net":[
							"/api/net/last_update",
							"/api/net/{interface-name}/bytes_recv/data",
							"/api/net/{interface-name}/bytes_sent/data",
							"/api/net/{interface-name}/drop_in/data",
							"/api/net/{interface-name}/drop_out/data",
							"/api/net/{interface-name}/err_in/data",
							"/api/net/{interface-name}/err_out/data",
							"/api/net/{interface-name}/packets_recv/data",
							"/api/net/{interface-name}/packets_sent/data"
						]
					}
				}
			}
		}

		window.app = Vue.createApp(iTAT).mount("#app")
	</script>
	</body>
</html>